.typing-indicator-wrapper {
    background: transparent; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    bottom: 80px; 
    left: 50%; 
    transform: translateX(-50%); 
    pointer-events: none; 
    z-index: 10; 
    width: 100%; 
}

.typing-indicator-wrapper > div {
    width: 84px; 
    height: 40px; 
}


@media (max-width: 768px) {
    .typing-indicator-wrapper {
        bottom: 20px; 
    }
}

@media (max-width: 480px) {
    .typing-indicator-wrapper {
        bottom: 15px; 
        width: 90%; 
    }

    .typing-indicator-wrapper > div {
        width: 70px; 
        height: 35px; 
    }
}
