.scroll-feed {
  width: 100%;
  height: calc(100vh - 160px); 
  overflow-y: auto;
  padding: var(--spacing-small);
}

.message {
  display: flex;
  align-items: flex-start;
  margin-top: var(--spacing-small);
  word-wrap: break-word; 
}

.my-message {
  flex-direction: row-reverse;
}

.other-message {
  flex-direction: row;
}

.message-body {
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: 20px;
  margin-bottom: var(--spacing-small);
  word-break: break-word; 
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

.message-text {
  margin-bottom: var(--spacing-small);
}

.current-user {
  background-color: #F3E2D9; 
  align-self: flex-end;
  margin-left: var(--spacing-small);
}

.other-user {
  background-color: #DCF8C6; 
  align-self: flex-start;
  margin-right: var(--spacing-small);
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-right: var(--spacing-small);
}

.avatar-container.right {
  margin-left: var(--spacing-small);
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.sender-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sender-name {
  font-size: 0.8rem;
  color: #888;
}

.message-timestamp {
  font-size: 0.8rem;
  color: #888;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .avatar {
      width: 25px;
      height: 25px;
  }

  .message-body {
      padding: var(--spacing-small);
  }
}
